@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script> //lib/jquery/dist/jquery.js
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> //Toastr minified (github)

    //Adding Toastr alerts
    //<h2>@TempData["success"]</h2>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');    @*"@" for accessing the c# code*@
    </script>
}

@if (TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    //Adding Toastr alerts
    //<h2>@TempData["error"]</h2>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');    @*"@" for accessing the c# code*@
     </script>
}